<a href="https://colab.research.google.com/github/2303a510B1/14_PDS_10B1/blob/main/Assignment-06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [18]:
import pandas as pd

# Load mock Titanic dataset
df = pd.read_csv('/content/titanic_mock.csv')

print("=== Missing Values BEFORE Cleaning ===")
print(df.isnull().sum())

# Fill missing 'Age' with mean Age
df['Age'].fillna(df['Age'].mean(), inplace=True)

# Fill missing 'Embarked' with mode
df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

# Drop the 'Cabin' column as it has many missing values and is not essential
df.drop(columns=['Cabin'], inplace=True)

print("\n=== Missing Values AFTER Cleaning ===")
print(df.isnull().sum())

# Save the cleaned dataset
df.to_csv('/content/titanic_cleaned.csv', index=False)

print("\nCleaned dataset saved as 'titanic_cleaned.csv'")

=== Missing Values BEFORE Cleaning ===
PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            1
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          2
Embarked       1
dtype: int64

=== Missing Values AFTER Cleaning ===
PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

Cleaned dataset saved as 'titanic_cleaned.csv'

/tmp/ipython-input-2022044184.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace=True)
/tmp/ipython-input-2022044184.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Embarked'].fillna(df['Embarked'].mode()[0], inplace=True)

In [19]:

import pandas as pd
data = {
    'Name': ['John', 'Alice', 'Bob', 'Mary', 'Steve', 'Emma'],
    'Gender': ['M', 'Female', 'male', 'F', 'MALE', 'femaLe'],
    'Age': [20, 21, 22, 23, 24, 22]
}

df = pd.DataFrame(data)
print("Before Cleaning:\n")
print(df)
df['Gender'] = df['Gender'].str.lower().map({
    'm': 'Male',
    'male': 'Male',
    'f': 'Female',
    'female': 'Female'
})
print("\nAfter Cleaning:\n")
print(df)

Before Cleaning:

    Name  Gender  Age
0   John       M   20
1  Alice  Female   21
2    Bob    male   22
3   Mary       F   23
4  Steve    MALE   24
5   Emma  femaLe   22

After Cleaning:

    Name  Gender  Age
0   John    Male   20
1  Alice  Female   21
2    Bob    Male   22
3   Mary  Female   23
4  Steve    Male   24
5   Emma  Female   22